extends layout
block content 
  .group 
    form(action="/trackName", method="get")
      input(type="text", name="name", placeholder="Please enter your name:")
      button(type="submit", class="btn") Submit