extends layout 
block content 
  .sign-in-form.js-sign-in-form
    h2 Login Account 
    .email 
      label(for="email") Email 
      input(type="text", class="js-sign-in-email-input sign-in-email-input", name="email", placeholder="Please enter your email...")
      p.format-alert-signin Email format is not valid
    .password
      label(for="password") Password 
      input(type="password", class="js-sign-in-password-input", name="password", placeholder="Please enter your password...")
    button.js-sign-in GO
    p.sign-in-fail-msg.js-sign-in-fail-msg

  .sign-up-form.js-sign-up-form  
    h2 Create Account
    .name 
      label(for="email") Name 
      input(type="text", class="js-sign-up-name-input", name="name", placeholder="Please enter your name...")
    .email 
      label(for="email") Email 
      input(type="text", class="js-sign-up-email-input sign-up-email-input", name="email", placeholder="Please enter your email...")
      p.format-alert-signup Email format is not valid
    .password
      label(for="password") Password 
      input(type="password", class="js-sign-up-password-input", name="password", placeholder="Please enter your password...")
    button.js-sign-up Sign up
    p.sign-up-fail-msg.js-sign-up-fail-msg