/* Global */

.is-visible {
  display: initial;
}

.not-visible {
  display: none !important; 
}

.floating-outof-window {
  transition: left .2s;
  left: -100%;
}

.js-mask-fadein {
  transition: background-color .2s;
  background-color: rgba(143, 143, 143, 0.6);
}

.floating-inside-window {
  
  transition: left .2s;
  left: 0;
}

.for-big-screen, 
.for-medium-screen
 {
  display: none;  /* Control RWD */
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.first-title-item {
  color: rgb(26, 115, 232);
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

/* Global about card */
.card {
  border: 1px solid rgb(218, 220, 224);
  background-color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.card-header {
  width: 100%;
}

.card .card-body {
  flex-grow: 1;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.card .card-body a.btn {
  margin-top: auto;
}

/* Simulate button */
a.grey-border {
  border: solid 1px rgb(228, 228, 228);
}

a.primary-bg {
  background-color: rgb(26, 115, 232);
  color: white;
}

a.primary-text {
  color: rgb(26, 115, 232);
}

a.btn {
  padding: 8px 24px;
  border-radius: 4px;
}

a.btn.primary-hover:hover {
  transition: background-color .5s;
  background-color: rgba(26, 115, 232, 0.5);
}


.input-group img {
  width: 1rem;
}


/* Dynamic search form */
.dynamic-search-wrapper {
  margin-left: auto;

  display: flex;
  align-content: center;
}

.dynamic-search-wrapper input {
  width: 70vw;
}

.dynamic-close-btn {
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
  
}


/* ===Header=== */
/* collapse navbar */

.collapse-burger-navbar {
  position: fixed;
  top: 0;
  width: 268px;
  height: 100vh;
  z-index: 3;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(60, 64, 67);
}

.collapse-burger-navbar ul {
  padding: 0;
}

.collapse-burger-navbar li {
  padding: 1rem 1rem;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.collapse-burger-navbar li:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burger-close-btn {
  cursor: pointer;
}

.burger-close-btn:hover {
  font-weight: bold;
}

.site-mask {
  position: fixed;
  top: 0;
  z-index: 2;

  width: 100vw;
  height: 100vh;
}

/* navbar */
.cos-navbar {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 5px 15px rgb(80, 80, 80);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.for-small-screen.burger-button {
  width: 20px;
  margin: 0 0 0 1rem;
}

.for-small-screen.burger-button:hover {
  cursor: pointer;
}

.logo-area {
  margin-right: auto;

  display: flex;
}

.navbar-logo {
  width: 150px;
  margin-left: 1rem;
}

header .navbar-utilities {
  display: flex;
  align-items: center;
}

header .btn-wrapper .dropdown {
  margin: 0 20px;
}

.btn-wrapper > ul li {
  margin: 0 10px;
}

.btn-wrapper > ul li a {
  color: rgb(99, 99, 99);
}

/* Right side buttons */
.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 2rem;
  margin: 0 5px;
}

/* Search form */
#small-search-icon {
  height: 26px;
  margin: 0 5px;
  cursor: pointer;
}

.form-group {
  display: flex;
  align-content: center;
}

.search-form-icon {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  background-color: rgb(240, 242, 244);

  display: flex;
  align-content: center;
}

.search-form-icon img {
    width: 20px;
  }

.search-form {
  width: 100%;
  min-width: 100px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: rgb(240, 242, 244)
}

.language-btn {
  display: none;
}

/* dynamic search form */


/* dropdown selection */
.navbar-more-option {
  width: 120px;
  border: none;
  cursor: pointer;
}

.navbar-more-option a {
  padding: 10rem;
}



/* ===main=== */
main {
  margin-top: 3rem;
}


/* banner */
.banner {
  height: 64px;
  padding: 20px;
  background-color: rgb(36, 36, 36);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner a {
  color: white;
  text-decoration: underline;
}

/* landing */
.landing {
  width: 95%;
  max-width: 1400px;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-part {
  width: 80%;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-part span {
  margin-top: 16px;
}

.description-part a {
  margin-top: 32px;
  align-self: flex-start;
}

.landing-media {
  width: 100%;
  order: -1;
}

.landing-media img {
  width: 100%;
  margin-top: auto;
  margin-bottom: 1rem;
}

/* Product items */
.product-items {
  border-top: 2px solid rgb(228, 228, 228);

  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 3rem;
  justify-content: center;
}

.product-title {
  font-size: 1.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 3rem;

  text-align: center;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-wrapper img {
  width: 100px;
}

.item-wrapper h4 {
  margin-top: auto;
  text-align: center;
}

/* interim-area */
.interim-area {
  margin: 3rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.interim-area .title-btns {
  padding-bottom: 40px;
}

.interim-area .cards-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interim-area .card {
  width: 90%;
  margin: 1rem 0;
}

.interim-area .card-img-top {
  width: 100%;
}

.interim-area a.btn {
  align-self: flex-start;
}


/* news-cards */
.news-cards {
  background-color: rgb(241, 243, 244);
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-cards h1 {
  text-align: center;
}

.news-cards .card {
  width: 90%;
  margin: 1rem auto;
}

.news-cards .card .card-header img {
  display: block;
  height: 6rem;
  margin: 1rem auto;
}

.news-cards .card a {
  padding: 5px;
  margin-left: -5px;
  font-weight: bold;
  font-size: 14px;
  align-self: flex-start;
}

/* Developers */
.developer-area {
  

  display: flex;
  flex-direction: column;
  align-items: center;
}

.developer-area header {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;

  text-align: center;
}

.developer-area header h5 {
  margin-top: 16px;
}

.developer-area header a {
  margin-top: 24px;
}

.developer-cards {
  width: 100%;
  margin: 40px 0;

  display: grid;
  grid-template-columns: 80%;
  row-gap: 24px;
  justify-content: center;
}

.developer-cards .card {
  padding: 30px 30px 0 30px;
}

.developer-cards .card .card-header img {
  width: 100px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

.developer-cards .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developer-cards .card-body * {
  text-align: center;
}

.developer-name{
  font-size: 24px;
}

.developer-region {
  margin: 16px 0;
}

.expertise-content {
  margin-bottom: 36px;
  color:rgb(143, 143, 143);
}



/* ===footer=== */
footer {
  margin-top: auto; /* make sure footer is sticky */
  border-top: solid 1px rgb(218, 220, 224);
}

/* link box */
.link-boxes {
  display: flex;
  flex-direction: column;
}

.link-box {
  width: 100%;
}

.link-box li {
  margin: 0.5rem 0;
  font-size: 12px;
}

.link-box li:first-child {
  font-size: 1rem;
  margin-top: 1rem;
}

/* product links */
.product-links {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  padding: 2rem 0;
  border-top: solid 1px rgb(202, 202, 202);
  border-bottom: solid 1px rgb(202, 202, 202);
}

.bottom-link-logo {
  width: 150px;
  margin-left: 10px;
}


.product-links .for-small-screen ul {
  padding: 0;
  margin: 10px 0;
}

.product-links .for-small-screen li {
  margin: 10px 10px;
}

/* footer-utilities */
.footer-utilities {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem 2rem;
}

.footer-utilities-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-utilities .language-btn {
  margin: 1rem 0;
  align-self: flex-start;
}

/* language btn */
.language-btn.bottom-area {
  display: initial;
}


@media (min-width: 500px) {
  .developer-cards {
    grid-template-columns: 45% 45%;
    column-gap: 24px;
  }
}

@media (min-width: 768px) {
  /* ===main=== */
  /* Header */
  /* Left side butotns */
  .navbar-logo {
    width: 200px;
  }

  .logo-area {
    margin-right: 0;
  }

  header .menu {
    display: flex;
    align-items: center;

    margin-right: auto;
  }

  header .btn-wrapper {
    display: flex;
  }

  .btn-wrapper > ul {
    margin: 0;

    display: flex;
    align-items: center;
  }

  /* Right side butotns */
  .language-btn {
    display: initial;
  }

  

  /* Burger button */
  .for-small-screen.burger-button {
    display: none;
  }


  /* landing */
  .landing {
    margin: 40px auto;

    display: flex;
    flex-direction: row;
  }

  .description-part {
    width: 50%;
  }

  .landing-media {
    width: 50%;
    order: 0;
  }

  /* Product items */
  .product-title {
    font-size: 44px;
  }

  .product-items {
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 10rem 10rem 10rem 10rem;
    grid-gap: 1.5rem;
    justify-content: center;
  }

  .product-title {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 3rem;

    text-align: center;
  }

  /* interim-area */
  .interim-area .cards-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .interim-area .card {
    width: 40%;
    margin: 3rem 2rem;
  }

  /* News card */
  .news-cards {
    background-color: rgb(241, 243, 244);
    padding: 3rem 0;

    display: grid;
    flex-basis: 400px;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 1.5rem;
    justify-content: center;
  }

  .news-cards h1 {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
  }

  /* ===Footer=== */
  /* link box */
  .link-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .link-box li {
    margin: 0.5rem 0;
  }  

  .link-box li:first-child {
    font-size: 1.2em;
    margin-top: 1rem;
  }

  /* Product links */
  .product-links {
    flex-direction: row;
    align-items: center;
  }

  .product-links .for-small-screen {
    display: none;
  }

  .product-links .for-medium-screen {
    display: flex;
  }

  /* Utilities */
  .footer-utilities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem 2rem 2rem;
  }

  .footer-utilities-btns {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;
  }

  .footer-utilities-btns span,
  .footer-utilities-btns a
  {
    margin: 0 1rem;
  }
}

@media (min-width: 1024px) {
  #small-search-icon {
    display: none;
  }

  .search-wrapper.for-medium-screen {
    display: initial;
    margin: 0 1rem;
  }

  /* Developers */
  .developer-cards {
    grid-template-columns: 22% 22% 22% 22%;
  }
}

@media (min-width: 1400px) {
  .for-big-screen {
    display: initial;
  }

  .dropdown {
    display: none;
  }
}

